@media only screen and (max-width:480px){
    html{
       width: 50px;
       height: 70px;
   } 
    body{
        background-color: rgb(255, 255, 255);
        color: #1c1e21;
        direction: ltr;
        line-height: 1.34;
        margin: 0;
        padding: 0;
        unicode-bidi: embed;
    }
    .top{
        background-color:#ffffff;
    }
    h2{
        display: none;
    }
    .logo{
        margin-top: -80px;
    }
    .icon_fb{
       display: none;
    }
    .home{
       
    width: 340px;
    height: 100px;

        margin-left: 27px;
        padding: 20px 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
    }
    .home .label{
         width: 0px;
         height: 0px;
   
    }
    .label{
        position: absolute;
      
        left: -25%;
        top: -120%;
        
    }
    .label_fb .logo img{
        border: 0;
        height: 70px;
        margin-left: 45px; 
   
        
    }
      
    .form_login{
        text-align: center;
        height: 331.4px;
        width:300px;
        border: none;
        position: absolute;
        top: 30%;
        left: 44%;
        transform: translate(-50%,-50%);
        box-shadow:none;
        border-radius: 0%;
        margin-top: 4px;
        margin-left: -10px;
        
    }
    .form .form_login .login .email_pass{
        width:330px;
        border: none;
        background-color:#f5f6f7;
        margin-left: -20px;

    }
    .login .dangnhap{
        background-color: #1877f2;
        border: none;
        border-radius: 6px;
        font-size: 17px;
        width: 360px;
        color: white;
        font-weight: bold;
        margin-left: -19px;
    }
    .login .forget_pw{
        text-decoration: none;
        color: #7596c8;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%,0%);
        margin-left: 15px;
    }
    .gachke{
        top: -15%;
        border-bottom: 1px solid #dadde1;
        display: block;
        width: 346px;
        text-align: center;
        margin-top: -2px;
        margin-left: -10px;
        margin-bottom: 16px;
    }
    .login .reg{
        background-color:#42b72a;
        border: none;
        border-radius: 6px;
        line-height: 52px;
        width: 180px;
        color: white;
        font-weight: bold;
        margin-bottom: 20px;
        border-radius: 6px;
        font-size: 17px;
        height: 36px;
        padding-bottom: 50px;
         margin-left: 30px;
        
    }
 .form .form_login .login .email_pass:hover,
.form .form_login .login .email_pass:active{
    border-radius: 10px;
    border: 1px solid #00aaff;
    transform: scale(1.0);
    transition: 0.3s;
}
.form_login .dangnhap:hover{
    background-color:  #1066d6;
    transition: 0.3s;
    transform: scale(1.0);

}
.logo:hover{
    transform: scale(1.0);
    transition: 0.2s;
    margin-left: 20px;
}

    .form .reg_page{
       display: none;
       height: 0;
    }
    .link{
     
        display: none;
    }
    /*============bottom=========*/
/* fix dang ki */
#form_signin_dialog{
    width: 350px;
    height: 500px;
    margin-left: 12px;
}
.reg_text{
    font-size: 25px;
}
.sigin_info .hoten .ho{

    width: 136px;
    height: 30px;
    outline: none;
    font-size: 15px;
}
.sigin_info .hoten .ten{
    position: absolute;
    width: 136px;
    height: 30px;
    margin-left: -110px;
    outline: none;
    font-size: 15px;
}
.sigin_info .mail_pw .sdt{
    width: 300px;
    height: 30px;
    margin-top: 45px;
    margin-left: -233px;
    outline: none;
    font-size: 15px;
}
.sigin_info .mail_pw .pass {
    width: 300px;
    height: 30px;
    margin-left: -80px;
    font-size: 15px;
}
.date_of_birth .select_date{
    width: 85px;
    margin-left: -80px;
    border: 1px solid #ccd0d5;
    border-radius: 6px;
    font-size: 15px;
    height: 30px;
}
.date_of_birth .select_month {
    width: 85px;
    margin-left: 10px;
    height: 30px;
}
.date_of_birth .select_years {
    width: 120px;
    margin-left: 10px;
    height: 30px;
}
.sex .nu {
    border: 1px solid #ccd0d5;
    width: 80px;
    height: 20px;
    margin-left: -75px;
}
.sex p #check {
    margin-left: 20px;
}
.sex .nam {
    margin-left: 3px;
    margin-top: 11px;
    width: 85px;
    height: 20px;
}
.sex .tuychon {
    margin-left: 3px;
    font-size: 15px;
    margin-top: 11px;
    width: 100px;
    height: 20px;
}
.sex p #check1 {
    margin-left: 15px;
}
.label_thoa_thuan .thoa_thuan {
    margin-top: 0.5px;
    text-align: left;
    font-size: 11px;
    width: 310px;
}
.reg_2 {
    width: 170px;
    height: 30px;
    outline: none;
}
}